include /components/utils

block settings
  -
    title = 'Fledgeling'
    description = 'A simple, modern, progressivly enhanceable, static site generator and boilerplate using npm scripts and pug.'
    page = ''

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=5.0, user-scalable=1')
    link(rel='manifest' href='/manifest.json')
    title #{title}
    meta(name='description', content=description)

    block styles
      style
        include /css/reboot.css
        include /css/global.css

    block head
  body(id=page)
    block body
      include /components/header
    main
      block main
    block footer
      include /components/footer
    block scripts
      script
        include /js/lazyload.min.js
      script.
        var myLazyLoad = new LazyLoad({
          elements_selector: "[data-src]"
        });
      script(src='assets/js/scripts.js' defer)
      //- script.
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('service-worker.js', {
              scope: './'
          })
        }